#containerProdutos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.produto {
  width: 270px;
  height: 330px;
  background-color: aquamarine;
  display: inline-block;
  margin: 5px 10px;
}

.produto img {
  width: 270px;
  height: 200px;
}

ol {
  list-style: none;
}