<div class="po-row">
  <div class="po-md-3">
    <po-radio-group name="radioGroupBasic" p-label="Filtro" [p-options]="categorias" (p-change)="chamouFiltro($event)">
    </po-radio-group>
  </div>
</div>


<div id="containerProdutos" class="po-row">
  <div class="po-md-12">
    <ol>
      <li class="produto" *ngFor="let produto of products">
        <div>
          <img src={{produto.urlImagem}} alt="" srcset="">
          <p>Nome: {{produto.nome}}</p>
          <p>Descrição: {{produto.descricao}}</p>
          <p>Preco: R${{produto.preco}}</p>
          <p>Categoria: {{produto.categoria}}</p>
        </div>
      </li>
    </ol>
  </div>
</div>